.ad_btn{
   
    background: none;
    box-shadow: none;
    text-shadow: none;
    border: 1px solid #99c7db;

}

.ad_applyBtn{
    background: #f8540e;
    color:#fff;
    border-color: #fb9264;
}

.ad_todayBtn{
    background: #dcfeee;
    color:#127066;
    border:none; 
}
.fc-today{
    background: #dcfeee!important;
}
.fc-state-active{
    background: #d1e6ef; 
}